.header{
    background-color: black;
    color: white;
    padding: 2em;
    padding-bottom: 0;
    mat-form-field{
        color: black;
        width: 100%;
    }
}

.horizontal-line{
    border-top: 0.1em solid white;
    padding-bottom: 0.1em;
}

.content{
    padding: 5em;
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.body{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('../../../assets/backgrounds/DI0944_73ec5c7a-6d68-4613-a5da-4a32fd26279b.webp');
    overflow-x: hidden;
}

.character{
    margin: 1em;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.heroePic{
    object-fit: cover;
    cursor: pointer;
}

.character-content:hover{
    background-color: #2A2A2A;
}

mat-expansion-panel{
    background-color: black;
    color: white;
    span{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

.character-content{
    background-color: black;
    padding: 1em;
    border-radius: 1em;
    max-width: 20em;
}

.character-info{
    // display: flex;
}

.character-description{
    // margin-left: 1em;
    margin-top: 1em;
    color: white;
}

mat-paginator{
    margin-top: 2em;
    border-radius: 1em;
    background-color: #518cca;
    color: white;
    font-weight: 500;
    width: 100%;
}

li{
    font-weight: 500;
}

.title{
    background-color: #B13D4C;
    border-radius: 0.2em;
    padding: 1em;
    width: max-content;
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 1em;
}

.subtitle{
    padding: 1.2em;
    padding-left: 0.5em;
    font-size: 2em;
    font-weight: 500;
}

.indicator{
    padding-right: 5em;
    padding-left: 5em;
    border-radius: 0.6em;
}

li:hover{
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.menu-btn{
    background-color: #518cca;
}

.filter{
    width: 100%;
}

.filtering-container{
    padding: 2em;
    padding-bottom: 0;
}

.comic-drawer{
    background-color: black;
    padding: 2em;
    overflow: auto;
    color: white;
    width: auto;
}

.fav-comic{
    max-width: 60%;
    border: 0.2em solid black;
    border-radius: 0.3em;
}

.fav-container{
    display: flex;
    justify-content: center;
    align-items: start;
}

.fav-container button{
    position: absolute;
    margin-top: 1em;
    margin-left: 45%;
}

.detail{
    font-weight: 500;
    cursor: pointer;
    color: #518cca;
}

.comic-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 500;
}

.drawer-title{
    font-weight: 500;
    font-size: 2em;
    padding: 1em;
    margin-bottom: 1em;
}

.comic-container{
    max-width: max-content;
    border-radius: 0.5em;
}

.btn-remove{
    color: white;
    margin-left: 1em;
}

.comic-panel{
    background-color: #518cca;
}

mat-panel-title{
    color: white;
}