<div>
    <div class="header">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div class="title">
                    MARVEL
                </div>
                <div class="subtitle">
                    CHARACTERS INVENTORY
                </div>
            </div>
            <div>
                <button class="menu-btn" mat-fab (click)="drw.toggle()"><mat-icon>menu</mat-icon></button>
            </div>
        </div>
    </div>
    <mat-drawer-container>
        <mat-drawer class="comic-drawer" #drw position="end">
            <div class="drawer-title">¡Found here your favorite comics!</div>
            <div *ngIf="favorites.length != 0;" class="text-center">
                <div *ngFor="let comic of favorites, let i = index" class="mb-3 comic-container">
                    <div class="fav-container">
                        <img class="fav-comic" src="{{comic.images[0].path}}" alt="">
                        <button mat-mini-fab color="primary" (click)="removeFavorite(i)"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <div class="body">
                <div class="row text-center filtering-container">
                    <div class="col">
                        <mat-form-field class="filter">
                            <mat-label>Search your favorite marvel character</mat-label>
                            <input matInput [(ngModel)]="filter" (change)="defineMethodCharacters(pageIndex * 10)">
                            <mat-icon matPrefix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="sort col-3">
                        <mat-form-field>
                            <mat-label>Sort by</mat-label>
                            <mat-select (selectionChange)="defineMethodCharacters(pageIndex * 10)" [(ngModel)]="orderBy">
                                <mat-option value="-modified">Newest</mat-option>
                                <mat-option value="modified">Oldest</mat-option>
                                <mat-option value="name">Name A-Z</mat-option>
                                <mat-option value="-name">Name Z-A</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="loadedPage" class="content">
                    <div *ngFor="let character of characters, let x = index" class="character">
                        <mat-card class="character-content" >
                            <div class="col">
                                
                                <div class="character-info">
                                    <div class="row">
                                        <img (click)="panel.toggle()" class="heroePic" src="{{character.thumbnail.path}}" alt="{{character.name}}">
                                    </div>
                                    <div class="character-description container-fluid row">
                                        <mat-expansion-panel #panel>
                                            <mat-expansion-panel-header class="info-panel">
                                                <span>{{character.name}}</span>
                                            </mat-expansion-panel-header>
                                            <div class="mb-3">
                                                {{character.description ? character.description : 'Not description yet.'}}
                                            </div>
                                            <mat-expansion-panel class="comic-panel" *ngIf="character.items.length != 0">
                                                <mat-expansion-panel-header class="text-center">
                                                    <mat-panel-title>
                                                        Comics appearances:
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <ng-container *ngFor="let comic of character.items; let i = index">
                                                    <li class="mb-1" *ngIf="i < 4" ><a (click)="openComicModal(comic)">{{comic.name}}</a></li>
                                                </ng-container>
                                            </mat-expansion-panel>
                                            <div *ngIf="character.items.length < 1">
                                                Not appearances yet.
                                            </div>
                                            <div class="mt-3">
                                                <u class="detail" (click)="goToDetail(character.id)">More info</u>.
                                            </div>
                                        </mat-expansion-panel>
                                        
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                    <mat-paginator #paginator
                        (page)="handlePageEvent($event, filter)"
                        [length]="length"
                        pageSize="10"
                        [pageIndex]="pageIndex">
                    </mat-paginator>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
    
    
</div>
